/*
Autor: José Augusto Silva
Versão: 1.0
*/
.layout_principal {
  width: 900px;
  height: 600px;
  margin: 30px 0 0 30px;
  display: flex;
}

/* Controles audio */
.layout_principal > .audio {
  width: 72px;
  height: 30px;
  border: 1px solid #f9c13b;
  position: absolute;
  margin: 10px 0 0 10px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.audio > .audio_controls {
  width: 30px;
}

.layout_principal > .titulo_jogo {
  background-image: url("/jogo-estourando-baloes/img/elementos_titulo_jogo.svg");
  width: 500px;
  height: 250px;
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 240px;
}

.layout_principal > .fundo_cenario_svg {
  background-image: url("/jogo-estourando-baloes/img/cenario.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
  border-radius: 20px;
}

.layout_principal > .selecao_nivel {
  position: absolute;
  left: 400px;
  top: 380px;
  width: 128px;
  height: 46px;
}

.layout_principal > .botao_iniciar {
  background-image: url("/jogo-estourando-baloes/img/elementos_botao_iniciar.svg");
  width: 280px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  left: 350px;
  top: 460px;
  cursor: pointer;
}

.fundo_botao_nivel {
  background-image: url("/jogo-estourando-baloes/img/elementos_botao_nivel.svg");
  background-repeat: no-repeat;
  width: 180px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundo_botao_nivel > #nivel_jogo {
  width: 130px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 28px;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #795204;
  margin: auto;
  background-color: #ffe33e;
  cursor: pointer;
}
